{{ "<!-- Search -->" | safeHTML }}
{{ if site.Params.search }}
<div class="widget">
  <h5 class="widget-title"><span>{{ i18n "search" }}</span></h5>
  <form action="{{ `search`| relLangURL }}" class="widget-search">
    
    <div class="border border-default collapse-wrapper">
      <a class="d-flex p-2 collapse-head" data-toggle="collapse" href="#{{ i18n "property_type_search" | urlize }}" role="button">
        {{ i18n "property_type_search" }} <i class="fas fa-plus ml-auto"></i>
      </a>
      <div class="collapse" id="{{ i18n "property_type_search" | urlize }}">
        <div class="p-2">
          <div class='label-wrap'>
            <label for="villa-field">{{ i18n "villa" }}:</label><br /><input id="villa-field" name="h" type="checkbox" value="{{ i18n "villa" }}" class="form-control" aria-label="villa-query">
          </div>
          <div class='label-wrap'>
            <label for="townhouse-field">{{ i18n "townhouse" }}:</label><br /><input id="townhouse-field" name="i" type="checkbox" value="{{ i18n "townhouse" }}" class="form-control" aria-label="townhouse-query">
          </div>
          <div class='label-wrap'>
            <label for="apartment-field">{{ i18n "apartment" }}:</label><br /><input id="apartment-field" name="j" type="checkbox" value="{{ i18n "apartment" }}" class="form-control" aria-label="apartment-query">
          </div>
          <div class='label-wrap'>
            <label for="ruin-field">{{ i18n "ruin" }}:</label><br /><input id="ruin-field" name="k" type="checkbox" value="{{ i18n "ruin" }}" class="form-control" aria-label="ruin-query">
          </div>
          <div class='label-wrap'>
            <label for="land-field">{{ i18n "land" }}:</label><br /><input id="land-field" name="l" type="checkbox" value="{{ i18n "land" }}" class="form-control" aria-label="land-query">
          </div>
          <div class='label-wrap'>
            <label for="newbuild-field">{{ i18n "newbuild" }}:</label><br /><input id="newbuild-field" name="m" type="checkbox" value="{{ i18n "newbuild" }}" class="form-control" aria-label="newbuild-query">
          </div>
        </div>
      </div>
    </div>

    <div class="border border-default collapse-wrapper">
      <a class="d-flex p-2 collapse-head" data-toggle="collapse" href="#{{ i18n "property_search" | urlize }}" role="button">
        {{ i18n "property_search" }} <i class="fas fa-plus ml-auto"></i>
      </a>
      <div class="collapse" id="{{ i18n "property_search" | urlize }}">
        <div class="p-2">
          <div class='label-wrap'>
            <label for="pool-field">{{ i18n "pool" }}:</label><input id="pool-field" name="p" type="checkbox" value="{{ i18n "pool" }}" class="form-control" aria-label="pool-query">
          </div>
          <div class='label-wrap'>
            <label for="seaview-field">{{ i18n "seaview" }}:</label><input id="seaview-field" name="v" type="checkbox" value="{{ i18n "seaview_tag" }}" class="form-control" aria-label="seaview-query">
          </div>
          <div class='label-wrap'>
            <label for="garden-field">{{ i18n "garden" }}:</label><input id="garden-field" name="g" type="checkbox" value="{{ i18n "garden" }}" class="form-control" aria-label="garden-query">
          </div>
        </div>
      </div>
    </div>
    
    <div class="border border-default collapse-wrapper">
      <a class="d-flex p-2 collapse-head" data-toggle="collapse" href="#{{ i18n "price_search" | urlize }}" role="button">
        {{ i18n "price_search" }} <i class="fas fa-plus ml-auto"></i>
      </a>
      <div class="collapse" id="{{ i18n "price_search" | urlize }}">
        <div class="p-2">
          <div class='label-wrap'>
            <label for="50to100-field">50k-100k:</label><br /><input id="50to100-field" name="a" type="checkbox" value="50-100" class="form-control" aria-label="50to100-query">
          </div> 
          <div class='label-wrap'>
            <label for="100to200-field">100k-200k:</label><br /><input id="100to200-field" name="b" type="checkbox" value="100-200" class="form-control" aria-label="100to200-query">
          </div>
          <div class='label-wrap'>
            <label for="200to300-field">200k-300k:</label><br /><input id="200to300-field" name="c" type="checkbox" value="200-300" class="form-control" aria-label="200to300-query">   
          </div>
        </div>
      </div>
    </div>

    <div class="border border-default collapse-wrapper">
      <a class="d-flex p-2 collapse-head" data-toggle="collapse" href="#{{ i18n "town_search" | urlize }}" role="button">
        {{ i18n "town_search" }} <i class="fas fa-plus ml-auto"></i>
      </a>
      <div class="collapse" id="{{ i18n "town_search" | urlize }}">
        <div class="p-2">
          <div class='label-wrap'>
            <label for="salobrena-field">Salobrena:</label><br /><input id="salobrena-field" name="d" type="checkbox" value="salobrena" class="form-control" aria-label="salobrena-query">
          </div>
          <div class='label-wrap'>
            <label for="almunecar-field">Almunecar:</label><br /><input id="almunecar-field" name="e" type="checkbox" value="almunecar" class="form-control" aria-label="almunecar-query">
          </div>
          <div class='label-wrap'>
            <label for="laherradura-field">La Herradura:</label><br /><input id="laherradura-field" name="f" type="checkbox" value="la-herradura" class="form-control" aria-label="la-herradura-query">   
          </div>
        </div>
      </div>
    </div>

    
    <button type="submit" class="btn btn-primary" aria-label="Search Post"><i class="fas fa-search"></i></button>
  </form>
</div>
{{ end }}